:root {
	--color1: #003049; /* background, text-hover */
	--color2: #d62828; /* buttons */
	--color3: #f77f00; /* buttons-hover */
	--color4: #eae2b7; /* text */
	--color5: #fcbf49; /* title buttons-focus*/
}

.container-fluid {
	margin: 0;
	padding: 0;
}

.contenedor {
	margin: 0;
	padding: 0;
}

.principal {
	background-color: var(--color1);
	padding: 0;
	margin: 0;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	display: flex;
}

.columnaIzquierda {
	padding: 0;
	max-width: 200px;
}

.columnaDerecha {
	padding: 0;
	margin-left: 40px;
	margin-right: 20px;
}

.foto {
	width: 200px;
}

.row {
	margin-right: 0;
	margin-left: 0;
}

.title {
	color: var(--color5);
	font-size: 40px;
	margin-bottom: 10px;
	display: flex;
	align-items: baseline;
}

.profession {
	font-size: 16px;
}

.text {
	color: var(--color4);
	font-size: 16px;
}

.emphasis {
	color: var(--color4);
	font-size: 14px;
	font-style: italic;
	text-align: right;
	margin-left: 150px;
	margin-bottom: 30px;
}

.list-group {
	width: inherit;
	margin: 1% 4% 1% 4%;
}

.final {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color4);
	background-color: var(--color1);
	border: none;
	padding: 0;
	width: 100%;
	font-size: 12px;
	margin-top: 2px;
}

.final:hover {
	color: var(--color4);
	background-color: var(--color1);
}
