.section {
	height: 320px;
}

.sectionTitle {
	background-color: var(--color5);
	color: var(--color1);
	font-size: 24px;
	font-weight: bold;
	padding: 2px 2px 2px 10px;
	margin: 0 0 10px 0;
}

.subtitle {
	color: var(--color5);
	font-size: 20px;
}

.columns {
	display: flex;
}

.column {
	width: auto;
	margin: 2px 0px 5px 0px;
	padding: 5px 5px 5px 10px;
	border-color: transparent !important;
	border-width: 2px !important;
	border: solid;
}

.column:hover {
	border-color: var(--color5) !important;
}

.itemLista {
	color: var(--color4);
	background-color: transparent;
	padding: 0 0 0 3px;
	font-size: 16px;
	margin: 2px 1px 1px 10px;
	border-color: transparent;
}

.description {
	color: var(--color5);
}

.place {
	font-size: 14px;
	margin-bottom: 4px;
}

.site {
	opacity: 0.5;
}
