.sections {
	width: inherit;
	margin-left: 0 !important;
}

.selectorFijo {
	margin: 5px 0 5px 0;
	border-radius: 0;
	border: none;
	background-color: var(--color5) !important;
	color: var(--color1);
	box-shadow: none;
	font-weight: bold;
}
.selectorFijo:focus {
	background-color: var(--color5) !important;
	color: var(--color1);
	box-shadow: none;
	font-weight: bold;
}

.selectorFijo:hover {
	background-color: var(--color3);
	color: var(--color1);
	box-shadow: 0 0 15px var(--color3) !important;
}

.selectorFijo:active {
	background-color: var(--color5) !important;
	color: var(--color1) !important;
	box-shadow: 0 0 15px var(--color5) !important;
}

.selector {
	margin: 5px 0 5px 0;
	border-radius: 0;
	background-color: var(--color2);
	color: var(--color4);
	border: none;
}

.selector:hover {
	background-color: var(--color3);
	color: var(--color1);
	box-shadow: 0 0 15px var(--color3) !important;
}

.selector:focus {
	background-color: var(--color5) !important;
	color: var(--color1);
	box-shadow: none;
	font-weight: bold;
}
.selector:active {
	background-color: var(--color5) !important;
	color: var(--color1) !important;
	box-shadow: 0 0 15px var(--color5) !important;
}
