:root {
	--color1: #555b6eff;
	--color2: #89b0aeff;
	--color3: #bee3dbff;
	--color4: #faf9f9ff;
	--color5: #ffd6baff;
}

.container-fluid {
	margin: 0;
	padding: 0;
}

.principal {
	background-color: var(--color1);
	padding: 0;
	margin: 0;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	display: flex;
}

.columnas {
	display: flex;
}

.columnaIzquierda {
	padding: 0;
	max-width: 200px;
}

.columnaDerecha {
	padding: 0;
	margin-left: 40px;
	margin-right: 20px;
}

.foto {
	width: 200px;
}

.row {
	margin-right: 0;
	margin-left: 0;
}

.title {
	color: var(--color4);
	font-size: 40px;
	margin-bottom: 10px;
}

.subtitle {
	color: var(--color4);
	font-size: 16px;
}

.text {
	color: var(--color5);
	font-size: 12px;
}

.emphasis {
	color: var(--color5);
	font-size: 14px;
	font-style: italic;
	text-align: right;
	margin-left: 150px;
	margin-bottom: 30px;
}

.btn {
	margin: 5px 0 5px 0;
	border-radius: 0;
}

.sections {
	width: inherit;
}

.pie {
	width: 100%;
}

.list-group {
	width: inherit;
	margin: 2% 5% 5% 5%;
}

.list-group-item {
	text-align: center;
	color: var(--color4);
	border-top-width: 0 !important;
	background-color: var(--color1);
	border: none;
	padding: 0;
}
