:root {
	--color1: #588b8b; /* background */
	--color2: #c8553d; /* buttons */
	--color3: #f28f3b; /* buttons hover */
	--color4: #ffffff; /* text */
	--color5: #ffd5c2;
}

.container-fluid {
	margin: 0;
	padding: 0;
}

.principal {
	background-color: var(--color1);
	padding: 0;
	margin: 0;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	display: flex;
}

.columnas {
	display: flex;
}

.columnaIzquierda {
	padding: 0;
	max-width: 200px;
}

.columnaDerecha {
	padding: 0;
	margin-left: 40px;
	margin-right: 20px;
}

.foto {
	width: 200px;
}

.row {
	margin-right: 0;
	margin-left: 0;
}

.title {
	color: var(--color4);
	font-size: 40px;
	margin-bottom: 10px;
}

.subtitle {
	color: var(--color4);
	font-size: 16px;
}

.text {
	color: var(--color4);
	font-size: 12px;
}

.emphasis {
	color: var(--color4);
	font-size: 14px;
	font-style: italic;
	text-align: right;
	margin-left: 150px;
	margin-bottom: 30px;
}

.btn {
	margin: 5px 0 5px 0;
	border-radius: 0;
	background-color: var(--color2);
	color: var(--color4);
}
.btn:hover {
	background-color: var(--color3);
	color: var(--color1);
}

.sections {
	width: inherit;
	margin-left: 0 !important;
}

.pie {
	width: 100%;
}

.list-group {
	width: inherit;
	margin: 1% 4% 1% 4%;
}

.list-group-item {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color4);
	background-color: var(--color1);
	border: none;
	padding: 0;
	border-width: 0 !important;
	border-radius: 0 !important;
}
.list-group-item:hover {
	background-color: var(--color3);
	color: var(--color1);
}

.final {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color4);
	background-color: var(--color1);
	border: none;
	padding: 0;
	border-width: 0 !important;
	border-radius: 0 !important;
	width: 100%;
	font-size: 12px;
	margin-top: 2px;
}

.final:hover {
	color: var(--color4);
	background-color: var(--color1);
}
